.results{
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 18vh 8vw;
    /* padding-bottom: 0; */
    gap: 4vw;
    position: absolute;
    z-index: 2;
    top: 400vh;
    left: 0;

}

.r_left{
}

.r_left > div{
    font-family: "Clash Display";
    font-size: 8vh;
    min-width: max-content;
}

.r_right{
    width: 100%;
    flex: 1;
    padding-top: 0.8vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    /* background-color: pink; */
    gap: 2vh;
}

.cta{
    background-color: #ff7f50;
    padding: 1.6vh 1.6vw;
    border-radius: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vh !important;
    margin-top: 2vh;
    width: max-content;
    font-weight: 600;
    cursor: pointer;
    font-family: Montserrat !important;

}

.point{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.index{
    color: #fff;
    font-family: "Clash Display";
    text-align: center;
    -webkit-text-fill-color: transparent;
    /* background-image: linear-gradient(rgb(87, 87, 87), #101010); */
    background-image: linear-gradient(rgb(255, 255, 255, .25), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 12vh;
    font-weight: 800;
    line-height: 100%;
    flex: 1;
}

.info{
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    font-size: 2vh;
    text-align: justify;
}

.title{
    font-weight: 700;
}