.container {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

.canvas {
  background-color: #101010;
  /* height: 50vh; */
}

.content{
  height: 1000vh;
  /* background-color: #ffffff6e; */
  position: relative;
  top: 0;
  left: 0;
}



.fixed_scroll_div {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
  color: white;
  /* backdrop-filter: blur(4px); */
  gap: 1vh;
  filter: blur(4px);
  opacity: 0;

}

.h1_div{
  height: 14vh;
  overflow: hidden !important;
  position: relative !important;
}

.fixed_scroll_h1 {
  text-align: center;
  font-size: 10vh;
  font-family: Clash Display;
  font-weight: 400;

  /* transform: translateY(13vh); */
}

.p_div{
  height: 3vh;
  overflow: hidden !important;
  position: relative !important;
}

.fixed_scroll_p {
  text-align: justify;
  font-size: 3vh;
  font-weight: 500;
  max-width: 72vw;
  text-align-last: center;

}

.scroll_div {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  /* backdrop-filter: blur(4px); */
  gap: 2vh;
}

.scroll_h1 {
  text-align: center;
  font-size: 12vh;
  font-family: Clash Display;
  font-weight: 400;
}

.scroll_p {
  text-align: justify;
  font-size: 2.4vh;
  max-width: 72vw;
  text-align-last: center;
}

@media(max-width:1100px) {
  .fixed_scroll_h1{
    font-size: 4.8vh;
  }

  .fixed_scroll_p{
    font-size: 2.8vh;
    max-width: 84vw;
    text-align: center;
  }
}